image: docker:20.10.16

services:
  - docker:20.10.16-dind

stages:
  - build-and-push

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_JOB_TOKEN" $CI_REGISTRY

build_and_push_to_registry:
  stage: build-and-push
  script:
    - IMAGE_TAG_SHA="$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - IMAGE_TAG_LATEST="$CI_REGISTRY_IMAGE:latest"

    - |
      docker build --pull \
        --build-arg NODE_ENV="production" \
        --build-arg MONGO_URI="$MONGO_URI" \
        --build-arg JWT_SECRET="$JWT_SECRET" \
        --build-arg EMAIL_USER="$EMAIL_USER" \
        --build-arg SENDGRID_API_KEY="$SENDGRID_API_KEY" \
        -t "$IMAGE_TAG_SHA" \
        -t "$IMAGE_TAG_LATEST" .

    - docker push "$IMAGE_TAG_SHA"
    - docker push "$IMAGE_TAG_LATEST"
  
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'