# Local IP configuration
# OPEN POWERSHELL AS ADMIN AND RUN 'caddy run' in this directory
# Caddy will generate a self-signed cert for this IP
192.168.0.39, 192.168.7.8, 192.168.207.23, 192.168.0.211, localhost {
    reverse_proxy localhost:3000
}